.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #42de42;
    --secondary-color: #1cec1c;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #004dff;

    // skeleton
    --sceleton-color: #1515ad;
    --sceleton-shadow: #2b2be8;

    // code
    --code-bg: #0c0c70;
}
