:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #1cec1c;
    --inverted-secondary-color: #1cec1c;

    // skeleton
    --sceleton-color: #fff;
    --sceleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
